
.account-item{
    background: var(--color-box-base);
    border:1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top:2.4rem;
    overflow: hidden;
}

.account-item header{
    padding:3.2rem 2rem;
    display: flex;
    align-items: center;
}

.account-item header img{
    width:8rem;
    height: 8rem;
    border-radius:50%;
}

header .account-data{
    padding-left: 4rem;
}


.account-item header div strong{
        font:700 2.4rem Archivo;
        display: block;
        color: var(--color-text-title)
}

.account-item header div span{
        font-size: 1.6rem;
        display:block;
        margin-top: 0.4rem;
}

.account-item > p{
    padding: 0 2rem;
    font-size:1.6rem;
    line-height: 1.8rem;
}

.account-item footer{
    padding:3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.account-item footer p strong{
    color: var(--color-primary);
    font-size: 1.6rem;
}


.account-item footer button:hover{
    background-color: var(--color-secundary-dark)
}

.account-item footer button img{
    padding-right: 1rem;
}

.actions{
    display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
        padding: 3.2rem;
        
}

.actions input{
    width:100%;
    height:5.6rem;
    border-radius: 10px;
    background:var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline:0;
    padding:0 1.6rem;
    font: 1.6rem Archivo;
}

.actions button{
    width:100%;
    height: 5.6rem;
    color: var(--color-button-text);
    border:0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    text-decoration: none;
    transition: background-color 0.2s;
}

.deposit{
    background-color: var(--color-secundary);
}

.withdraw{
    background-color: var(--color-primary-darker);
}


@media(min-width:700px){
    .account-item header,
    .account-item footer{
        padding: 3.2rem
    }

    .account-tem > p{
        padding: 0 3.2rem;
    }

    .account-footer p strong{
        display: inline;
        margin-left: 1.6rem;
    }

    .account-item footer button{
        width:24.5rem;
        font-size: 1.6rem;
        justify-content:center
    }
    
}